<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDFCmYMsBdxaGtxj_1ebwYNJ10B2Kciocw</string>
	<key>GCM_SENDER_ID</key>
	<string>951578908544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flowerAppProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flower-app-project-9f687</string>
	<key>STORAGE_BUCKET</key>
	<string>flower-app-project-9f687.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951578908544:ios:9b9bdcf51701ec5dd59365</string>
</dict>
</plist>